{% if page.series %}
    {% assign seriesCount = '0' %}
    {% assign pageInSeries = '0' %}
    {% assign seriesFinished = '0' %}

    {% for p in site.posts reversed %}
        {% if p.series == page.series %}
            {% capture seriesCount %}{{ seriesCount | plus: '1' }}{% endcapture %}
            {% if p.url == page.url %}
                {% capture pageInSeries %}{{ seriesCount }}{% endcapture %}
            {% endif %}
            {% if p.series_finished %}
                {% capture seriesFinished %}1{% endcapture %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

<blockquote class="series-panel">
    {% if seriesFinished == '1' %}
        <span>This post is part {{pageInSeries}} of a {{seriesCount}} part series:</span>
    {% else %}
        <span>This post is part {{pageInSeries}} of an ongoing series:</span>
    {% endif %}
    <ul>
        {% assign i = '0' %}
        {% for p in site.posts reversed %}
            {% if p.series == page.series %}
                {% capture i %}{{ i | plus: '1' }}{% endcapture %}
                <li>Part {{ i }}
                    {% if p.url == page.url %}
                        - {{ p.title }} (This Post)
                    {% else %}
                        - <a href="{{p.url}}">{{p.title}}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        {% if seriesFinished == '0' %}
        <li>More to come...</li>
        {% endif %}
    </ul>
</blockquote>